---
export interface Props {
    titulo?: string;
    descripcion?: string;
    textoBoton?: string;
    enlace?: string;
}
const {
    titulo = "Encuentra artículos sobre noticias",
    descripcion = "En esta sección encontrarás los últimos artículos publicados",
    textoBoton = "Ver artículos",
    enlace = "#",
} = Astro.props as Props;
---

<aside class="flex flex-col gap-10">
    <div
        class="sticky top-24 bg-black  text-white p-8 rounded-2xl flex flex-col justify-end min-h-[300px] max-h-[calc(100vh-8rem)]"
    >
        <h2
            class="text-5xl font-extrabold uppercase italic tracking-tighter text-[#A5B4FC] mb-2 leading-none"
        >
            {titulo}
        </h2>
        <p class="font-bold text-lg leading-tight mb-4">{descripcion}</p>
        <a href={enlace}>
            <button
                class="bg-[#A5B4FC] text-white px-6 py-2 rounded-full hover:bg-[#A5B4FC]/80 transition-colors mt-2"
            >
                {textoBoton}</button
            ></a
        >
    </div>
</aside>
